[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
databases = {extras = ["postgresql"], version = "*"}
aiogram = "*"
aiohttp = "*"
pymongo = "*"
psycopg2 = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "*"
